<?xml version="1.0" encoding="UTF-8"?>

<suite name="CrossBrowserSuite">

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.vts.testing.Cross_BrowserTesting.Cross_BrowserTesting"/>
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.vts.testing.Cross_BrowserTesting.Cross_BrowserTesting"/>
        </classes>
    </test>

    <test name="EdgeTest">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.vts.testing.Cross_BrowserTesting.Cross_BrowserTesting"/>
        </classes>
    </test>

</suite>